.order-item {
    min-height: 256px;
    min-width: 256px;
    background-color: #d9d9d9;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    margin-right: 32px;
  }
  
  .order-item:hover {
    background-color: #a0a0a0;
  }

  .order-title {
    display: flex;
    margin-left: 16px;
    background-color: transparent;
  }

  .hideScrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hideScrollbar::-webkit-scrollbar {
    display: none
  }